@import url("https://fonts.googleapis.com/css2?family=Inter&family=Saira+Condensed:wght@500&display=swap");

:root {
    --color1: #474dff;
    --color2: #0a0a0a;
    --color3: #fefefe;
    --color4: #1d1d1d;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 5px;
    font-family: "Inter", sans-serif;
  }

  li{
    list-style-type: none;
  }

  p{
    font-size: 0.8rem;
  }

  body{
    min-height: 100vh;
    background: var(--color4);
    color: var(--color3);
  }

/* NAVIGATION ****************************** */
  nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  h2{
    width: 50%;
  }

  nav ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
  }


  /* HEADER ***************************************** */
  .header{
    display: flex;
    margin: 30px auto;
    justify-content: space-around;
    align-items: center;
  }

  .header-left{
  width: 50%;
  }

  .header-left h1{
    font-size: 5rem;
  }

  .header-left h3{
    color: var(--color1);
    font-size: 1.8rem;
  }


  .header-right{
  width: 50%;
  }


  .header-right img {
    max-width: 100%;
  }

  /* INFOS *************************************************** */
.infos{
    display: flex;
    background-color: var(--color2);
    border-radius: 10px;
}

.infos-left{
width: 33%;
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-container button{
 padding: 10px 0px;
margin: 5px; 
border-radius: 10px;
background-color: var(--color1);
color: var(--color3);
font-weight: bold;
width: 150px;
border: none;
letter-spacing: 1px;

}

.infos-right{
    width: 67%;

    }



.investors{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;

}

.img-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.infos-right img{
    height: 60px;
}








